@font-face {
  font-family: 'OpenSans';
  src: local('Open Sans Light'), local('Open-Sans-Light'),
    url('../fonts/opensanslight.woff2') format('woff2'),
    url('../fonts/opensanslight.woff') format('woff'),
    url('../fonts/OpenSans-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: local('Gilroy Light'), local('Gilroy-Light'),
    url('../fonts/gilroylight.woff2') format('woff2'),
    url('../fonts/gilroylight.woff') format('woff'),
    url('../fonts/Gilroylight.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: local('Gilroy Extrabold'), local('Gilroy-Extrabold'),
    url('../fonts/gilroyextrabold.woff2') format('woff2'),
    url('../fonts/gilroyextrabold.woff') format('woff'),
    url('../fonts/Gilroyextrabold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

body {
  font-family: "OpenSans", Arial, Helvetica, sans-serif;
  background-color: #ffffff;
  font-weight: 300;
  font-size: 15px;
  color: #464646;
  letter-spacing: 0.15px;
  line-height: 30px;
}

a {
  text-decoration: none;
  color: #000000;
}

ul {
  list-style: none;
  padding: 0;
}

.main-header-image {
  margin-top: -15px;
}

.main-header-image:hover {
  opacity: 0.6;
}

.main-header-image:active {
  opacity: 0.3;
}

.form-search-input {
  border: none;
  background: rgba(240, 197, 46, 0);
}

.form-search-input::placeholder {
  opacity: 0.3;
  color: #000000;
}

.form-search-input:hover::-webkit-input-placeholder {
  opacity: 0.6;
}

.form-search-input:hover::-webkit-input-placeholder {
  opacity: 0.6;
}

.form-search-input:hover::-moz-placeholder {
  opacity: 0.6;
}

.form-search-input:hover:-moz-placeholder {
  opacity: 0.6;
}

.form-search-input:hover:-ms-input-placeholder {
  opacity: 0.6;
}

.form-search-input:focus::-webkit-input-placeholder {
  opacity: 1;
}

.form-search-input:focus::-webkit-input-placeholder {
  opacity: 1;
}

.form-search-input:focus::-moz-placeholder {
  opacity: 1;
}

.form-search-input:focus:-moz-placeholder {
  opacity: 1;
}

.form-search-input:focus:-ms-input-placeholder {
  opacity: 1;
}

.form-search-input:focus+.form-search-button {
  opacity: 1;
}

.form-search-input:focus {
  outline: 0;
}

.form-search-input:focus {
  outline: 0;
}

.form-search-button {
  opacity: 0;
  border: 2px solid #000000;
  width: 85px;
  height: 49px;
  background: rgba(240, 197, 46, 0);
}

.form-search-botton:focus {
  border-bottom: 2px solid #000000;

}

.form-search-button:hover {
  background: #000000;
  border: 2px solid #000000;
  color: #FFFFFF;
  letter-spacing: 0.15px;
  text-align: center;
}

.form-search-button:active {
  opacity: 1;
  background: #000000;
  border: 2px solid #000000;
  letter-spacing: 0.15px;
  text-align: center;
  color: rgba(255, 255, 255, 0.3);
  outline: 0;
}

.header-user-log-out {
  opacity: 0.3;
}

.header-user-log-in:hover,
.header-user-compare:hover,
.header-user-cart:hover,
.header-user-profile:hover,
.header-user-log-out:hover {
  opacity: 0.6;
}

.header-user-log-in:active,
.header-user-compare:active,
.header-user-cart:active,
.header-user-profile:active,
.header-user-log-out:active {
  opacity: 0.3;
}

.menu-items-catalog {
  display: none;
  column-count: 3;
  column-width: 205px;
  height: 130px;
}

.open-menu li {
  text-transform: capitalize;
  font-family: "OpenSans", Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: #000000;
  letter-spacing: 0.15px;
  line-height: 36px;
}

.open-menu:hover > .menu-items-catalog {
  display: block;
}

.header-site-navigation li a:hover {
  opacity: 0.6;
}

.header-site-navigation li a:active {
  opacity: 0.3;
}

.header-site-navigation li a:hover div,
.header-site-navigation li a:hover div:after {
  background: rgba(0, 0, 0, 1);
}

.header-site-navigation li a:active div,
.header-site-navigation li a:active div:after {
  background: rgba(0, 0, 0, 1);
}

.button {
  font-family: "Gilroy", Arial, Helvetica, sans-serif;
  font-weight: 800;
  font-size: 18px;
  letter-spacing: 3.5px;
  text-align: center;
  line-height: 24px;
  color: rgba(0, 0, 0, 1);
  background-size: 8px;
  cursor: pointer;
}

.header-user-navigation {
  color: #000000;
  letter-spacing: 0.15px;
  line-height: 30px;
  display: flex;
  justify-content: flex-end;
  width: 500px;
}

.header-user-navigation .header-user-log-in {
  margin-right: auto;
}

.header-user-navigation .header-user-cart {
  margin-left: 42px;
}

.header-log-out {
  opacity: 0.3;
}

.header-site-navigation {
  font-family: "Gilroy", Arial, Helvetica, sans-serif;
  font-weight: 800;
  font-size: 18px;
  color: #000000;
  letter-spacing: 3.6px;
  line-height: 24px;
  text-transform: uppercase;
}


.menu-items-catalog {
  font-family: "OpenSans", Arial, Helvetica, sans-serif;
  font-weight: 300;
  color: #000000;
  line-height: 36px;
}

.slide-number {
  font-family: "Gilroy", Arial, Helvetica, sans-serif;
  font-weight: 800;
  font-size: 179.2px;
  color: #FFFFFF;
  letter-spacing: 0.36px;
  text-align: right;
  line-height: 179.2px;
}

.slide-title {
  font-family: "Gilroy", Arial, Helvetica, sans-serif;
  font-weight: 800;
  font-size: 47px;
  color: #000000;
  letter-spacing: 0.47px;
  line-height: 56px;
}

.slide-button {
  font-family: "Gilroy", Arial, Helvetica, sans-serif;
  font-weight: 800;
  font-size: 18px;
  color: rgba(0, 0, 0, 1);
  ;
  letter-spacing: 3.5px;
  text-align: center;
  line-height: 24px;
}

.slide-button:active {
  color: rgba(0, 0, 0, 0.3);
}

.slide-table tr:first-child {
  font-family: "Gilroy", Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 36px;
  color: #000000;
  letter-spacing: 0.36px;
  line-height: 48px;
}

.slide-table tr:last-child {
  font-size: 13px;
  letter-spacing: 0.13px;
  line-height: 20px;
}

.popular-container {
  width: 160px;
  height: 160px;
  background: rgba(240, 197, 46, 0.5);
}

.popular-link:hover .popular-container {
  background: rgba(240, 197, 46, 1);
}

.popular-link:active .popular-image {
  background: rgba(240, 197, 46, 1);
  opacity: 0.3;
}

.popular-image {
  opacity: 1;
}

.glasses-image {
  padding-top: 51px;
  padding-left: 31px;
}

.monopod-image {
  padding-top: 43px;
  padding-left: 38px;
}

.action-camera-image {
  padding-top: 38px;
  padding-left: 49px;
}

.fitnes-bracelet-image {
  padding-top: 49px;
  padding-left: 28px;
}

.smart-watch-image {
  padding-top: 32px;
  padding-left: 55px;
}

.quadrocopters-image {
  padding-top: 49px;
  padding-left: 13px;
}

.popular-text {
  font-family: "Gilroy", Arial, Helvetica, sans-serif;
  font-weight: 800;
  font-size: 18px;
  color: #000000;
  letter-spacing: 0.18px;
  line-height: 24px;
  word-wrap: break-word;
}

a:active .popular-container+.popular-text {
  color: rgba(0, 0, 0, 0.3);
}

.service-slider {
  background: #E5E5E5;
  min-height: 288px;
}

.service-slider-button {
  text-transform: uppercase;
}

.service-slider-button:hover {
  background-color: #F7E184;
}

.service-slider-button:active {
  color: #F7E184;
  background: #000000;
}

.service-slider-navigation {}

.service-slide-title {
  font-family: "Gilroy", Arial, Helvetica, sans-serif;
  font-weight: 800;
  font-size: 47px;
  color: #000000;
  letter-spacing: 0.21px;
  line-height: 48px;
}

.logos-image {
  background-image: url("../img/logo-1.jpg");
  width: 260px;
  height: 100px;
}

.logos-image:hover {
  background-image: url("../img/logo-1-copy.jpg");
}

.logos-image-2 {
  background-image: url("../img/logo-2.jpg");
  width: 260px;
  height: 100px;
}

.logos-image-2:hover {
  background-image: url("../img/logo-2-copy.jpg");
}

.logos-image-3 {
  background-image: url("../img/logo-3.jpg");
  width: 260px;
  height: 100px;
}

.logos-image-3:hover {
  background-image: url("../img/logo-3-copy.jpg");
}

.logos-image-4 {
  background-image: url("../img/logo-4.jpg");
  width: 260px;
  height: 100px;
}

.logos-image-4:hover {
  background-image: url("../img/logo-4-copy.jpg");
}

.about-us-button:active,
.contacts-button:active {
  color: rgba(0, 0, 0, 0.3);
}

.about-us {
  width: 560px;
}

.about-us-title {
  font-family: "Gilroy", Arial, Helvetica, sans-serif;
  font-weight: 800;
  font-size: 47px;
  color: #000000;
  letter-spacing: 0.21px;
  line-height: 48px;
  margin-top: 51px;
}

.about-us-text {
  letter-spacing: 0;
  width: 477px;
  margin-top: 50px;
}

.about-us-transport-companies {
  font-family: "Gilroy", Arial, Helvetica, sans-serif;
  font-weight: 800;
  font-size: 16px;
  color: #000000;
  letter-spacing: 0;
  line-height: 40px;
  width: 477px;
  margin-top: 81px;
  margin-bottom: 70px;
}

.about-us-transport-companies li::before {
  display: inline-block;
  content: "";
  width: 4px;
  height: 4px;
  border: 2px solid #D8D8D8;
  border-radius: 50%;
  margin-left: 4px;
  margin-right: 26px;
}

.about-us-botton {}

.contacts {
  width: 560px;
}

.contacts-title {
  font-family: "Gilroy", Arial, Helvetica, sans-serif;
  font-weight: 800;
  font-size: 47px;
  color: #000000;
  letter-spacing: 0.21px;
  line-height: 48px;
  margin-top: 51px;
}

.contacts-text {
  letter-spacing: 0;
  width: 541px;
  margin-top: 60px;
}

.contacts-image {
  margin-top: 45px;
  margin-bottom: 81px;
}

.contacts-button {
  margin-top: 81px;
}

.main-footer {
  min-height: 323px;
  background: #464646;
}

.main-footer-logo {}

.main-footer-image:hover {
  opacity: 0.6;
}

.main-footer-image:active {
  opacity: 0.3;
}

.footer-user-navigation-text .user-icon-text {
  opacity: 0.7;
  font-size: 15px;
  color: #FFFFFF;
  letter-spacing: 0.15px;
  line-height: 36px;
}

.footer-user-navigation-text .user-log-in-icon,
.footer-user-navigation-text .user-compare-icon,
.footer-user-navigation-text .user-cart-icon {
  opacity: 1;
}

.footer-user-navigation-text:hover .user-icon-text {
  opacity: 1;
}

.footer-user-navigation-text:hover .user-log-in-icon,
.footer-user-navigation-text:hover .user-compare-icon,
.footer-user-navigation-text:hover .user-cart-icon {
  opacity: 0.6;
}

.footer-user-navigation-text:active .user-icon-text {
  opacity: 0.3;
}

.footer-user-navigation-text:active .user-log-in-icon,
.footer-user-navigation-text:active .user-compare-icon,
.footer-user-navigation-text:active .user-cart-icon {
  opacity: 0.3;
}

.footer-user-log-out .user-icon-text {
  opacity: 0.3;
}

.footer-address {
  color: #FFFFFF;
  letter-spacing: 0;
  line-height: 30px;
}

.footer-service-info {
  font-family: "Gilroy", Arial, Helvetica, sans-serif;
  font-weight: 800;
  font-size: 18px;
  color: #FFFFFF;
  letter-spacing: 3.6px;
  line-height: 24px;
  text-transform: uppercase;
}

.footer-service-info:hover {
  opacity: 0.6;
}

.footer-service-info:active {
  opacity: 0.3;
}

.footer-phone {
  color: #FFFFFF;
  letter-spacing: 0;
  text-align: right;
}

.footer-social::before {
  display: block;
  content: "";
  width: 80px;
  height: 7px;
  background-color: #FFC600;
}

.social-button-image {
  opacity: 0.3;
}

.social-button-image:hover {
  opacity: 0.6;
}

.social-button-image:active {
  opacity: 0.1;
}

.footer-copyright-image:hover {
  opacity: 0.6;
}


.footer-copyright-image:active {
  opacity: 0.3;
}

/* Каталог товаров */

.breadcrumbs-block {
  margin: auto 60px;
}

.breadcrumbs a {
  /* height: 24px; */
  opacity: 0.3;
  font-size: 14px;
  color: #000000;
  letter-spacing: 0.14px;
  line-height: 24px;
}

.breadcrumbs a span {
  opacity: 1;
}


.breadcrumbs a:hover {
  opacity: 0.6;
}

.breadcrumbs a:active {
  opacity: 0.1;
}


.page-title {
  font-family: "Gilroy", Arial, Helvetica, sans-serif;
  font-weight: 800;
  font-size: 47px;
  color: #000000;
  letter-spacing: 0.91px;
  line-height: 48px;
}

.filter {
  font-size: 14px;
  color: #000000;
  letter-spacing: 0.14px;
  line-height: 39px;
}

.filter-title {
  font-family: "Gilroy", Arial, Helvetica, sans-serif;
  font-weight: 800;
  font-size: 16px;
  color: #000000;
  letter-spacing: 3.5px;
  line-height: 24px;
  text-transform: uppercase;
  margin-left: 60px;
}

.sort-wrapper {
  display: flex;
  align-items: center;
  background: none;
  width: 71%;
  margin: 0;
}

.filter-form {
  margin-left: 60px;
}

.filter-form legend {
  font-family: "Gilroy", Arial, Helvetica, sans-serif;
  font-weight: 800;
  font-size: 18px;
  color: #000000;
  letter-spacing: 0.18px;
  line-height: 24px;
}

.filter-checkbox-label {
  font-size: 14px;
  color: #000000;
  letter-spacing: 0.14px;
  line-height: 39px;
}

.filter-radio-label {
  font-size: 14px;
  color: #000000;
  letter-spacing: 0.14px;
  line-height: 40px;
}

label.filter-checkbox-label input:disabled+span {
  font-size: 14px;
  color: #A6A6A6;
  letter-spacing: 0.14px;
  line-height: 40px;
}

label.filter-radio-label input:disabled+span {
  font-size: 14px;
  color: #A6A6A6;
  letter-spacing: 0.14px;
  line-height: 40px;
}

.filter-button {
  text-transform: uppercase;
}

.filter-button:active {
  color: rgba(0, 0, 0, 0.3);
  font-size: 18px;
  letter-spacing: 3.5px;
  text-align: center;
  line-height: 24px;
}

.sort-title {
  font-family: "Gilroy", Arial, Helvetica, sans-serif;
  font-weight: 800;
  font-size: 16px;
  color: #000000;
  letter-spacing: 3.5px;
  line-height: 24px;
  text-transform: uppercase;
  margin-left: 73.5px;
  margin-right: 26, 5px;
}

.short-list-text li {
  font-size: 14px;
  color: #000000;
  letter-spacing: 0;
  line-height: 18px;

}

.sort-by-price,
.sort-by-type,
.sort-by-popularity {
  color: rgba(0, 0, 0, 0.3);
  margin-left: 30px;
}

.sort-by-price:hover,
.sort-by-type:hover,
.sort-by-popularity:hover {
  color: rgba(0, 0, 0, 0.6);
}

.sort-by-price:active,
.sort-by-type:active,
.sort-by-popularity:active {
  color: rgba(0, 0, 0, 1);
}

.sort-ascending,
.sort-descending {
  opacity: 0.2;
}

.sort-ascending:hover,
.sort-descending:hover {
  opacity: 0.4;
}

.sort-ascending:active,
.sort-descending:active {
  opacity: 1;
}

.active {
  color: rgba(0, 0, 0, 1);
  opacity: 1;
}

.catalog-add-cart-button {
  text-transform: uppercase;
  display: none;
}

.catalog-add-cart-button:hover {}

.catalog-add-cart-button:active {
  color: rgba(0, 0, 0, 0.3);
  font-family: "Gilroy", Arial, Helvetica, sans-serif;
  font-weight: 800;
  font-size: 18px;
  letter-spacing: 3.5px;
  text-align: center;
  line-height: 24px;
}

.catalog-compare-button {
  font-family: "OpenSans", Arial, Helvetica, sans-serif;
  font-weight: 300;
  opacity: 0.5;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.5);
  letter-spacing: 0.13px;
  text-align: center;
  line-height: 36px;
  background: none;
  border: none;
  display: none;
}

.catalog-compare-button:hover {
  color: rgba(0, 0, 0, 1);
}

.catalog-compare-button:active {
  color: rgba(0, 0, 0, 0.2);
}

.item-image:hover {
  opacity: 0.5;
}

.item-text {
  font-family: "Gilroy", Arial, Helvetica, sans-serif;
  font-weight: 800;
  font-size: 18px;
  color: #000000;
  letter-spacing: 0.18px;
  line-height: 24px;
}

.item-price {
  font-family: "Gilroy", Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #464646;
  letter-spacing: 0.16px;
  text-align: right;
  line-height: 24px;
}

.pagination-list {
  background: rgba(0, 0, 0, 0.08);
}

.pagination-item-link {
  opacity: 0.3;
  font-family: "Gilroy", Arial, Helvetica, sans-serif;
  font-weight: 800;
  font-size: 16px;
  color: #000000;
  letter-spacing: 0.91px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 3.5px;
}

.direction-previous,
.direction-next {
  opacity: 1;
}

.direction-previous:active,
.direction-next:active {
  opacity: 0.6;
}

.previous:hover,
.next:hover {
  background-color: #d9d9d9;
}

.pagination-number {
  opacity: 0.3;
}

.pagination-number:hover {
  opacity: 0.6;
}

.pagination-number:active {
  opacity: 1;
}

.activated-pagination {
  opacity: 1;
}

/* скрытие элементов, которые не будет видно на странице */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* стрелки фильтра */

.arrow {
  display: inline-block;
  margin: 0 10px;
  font-size: 0px;
}

.arrow::before {
  border: 10px solid #000000;
  border-right-width: 5.5px;
  border-left-width: 5.5px;
  border-right-color: transparent;
  border-left-color: transparent;
  content: "";
  display: inline-block;
}

.arrow-up::before {
  border-top-width: 0px;
}

.arrow-down::before {
  border-bottom-width: 0px;
}

/* Каталог плюсик */

.header-site-navigation span {
  display: inline-block;
  content: "";
  height: 16px;
  width: 2px;
  background: rgba(0, 0, 0, 1);
  position: relative;
  opacity: 0.3;
  left: 16px;
  top: 1px;
}

.header-site-navigation span:after {
  display: inline-block;
  content: "";
  height: 2px;
  width: 16px;
  background: rgba(0, 0, 0, 1);
  position: absolute;
  left: -7px;
  top: 7px;
}

/* Увеличительное стекло */

.magnifying-glass {
  display: inline-block;
  content: "";
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 2px solid rgba(0, 0, 0, 1);
  position: relative;
  margin-right: 22.5px;
  top: 4px;
}

.magnifying-glass:after {
  display: inline-block;
  content: "";
  height: 7px;
  width: 2px;
  background: rgba(0, 0, 0, 1);
  border-bottom-left-radius: 2.5px;
  border-bottom-right-radius: 2.5px;
  position: absolute;
  transform: rotate(-45deg);
  left: 14px;
  top: 12px;
}

/* Человечек */

.header-user-log-in span {
  display: inline-block;
  content: "";
  width: 13px;
  height: 6.5px;
  border-radius: 50% 50% 0 0 / 100% 100% 0 0;
  background: rgba(0, 0, 0, 1);
  position: relative;
  margin-right: 15.5px;
}

.header-user-log-in span:after {
  display: inline-block;
  content: "";
  height: 7px;
  width: 7px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 1);
  position: absolute;
  left: 3px;
  top: -6px;
}

/* Значек сравнить */
.header-user-compare span {
  display: inline-block;
  content: "";
  height: 10px;
  width: 2px;
  background: rgba(0, 0, 0, 1);
  position: relative;
  margin-right: 11px;
  margin-left: 4px;
}

.header-user-compare span:before {
  display: inline-block;
  content: "";
  height: 7px;
  width: 2px;
  background: rgba(0, 0, 0, 1);
  position: absolute;
  left: -4px;
  top: 3px;
}

.header-user-compare span:after {
  display: inline-block;
  content: "";
  height: 8px;
  width: 2px;
  background: rgba(0, 0, 0, 1);
  position: absolute;
  left: 4px;
  top: 2px;
}

/* Человечек желтый */

.footer-user-log-in .user-log-in-icon {
  display: inline-block;
  content: "";
  width: 13px;
  height: 6.5px;
  border-radius: 50% 50% 0 0 / 100% 100% 0 0;
  background: rgba(240, 197, 46, 1);
  position: relative;
  margin-right: 15.5px;
}

.footer-user-log-in .user-log-in-icon:after {
  display: inline-block;
  content: "";
  height: 7px;
  width: 7px;
  border-radius: 50%;
  background: rgba(240, 197, 46, 1);
  position: absolute;
  left: 3px;
  top: -6px;
}

/* Значек сравнить желтый; */
.footer-user-compare .user-compare-icon {
  display: inline-block;
  content: "";
  height: 10px;
  width: 2px;
  background: rgba(240, 197, 46, 1);
  position: relative;
  margin-right: 11px;
  margin-left: 4px;
}

.footer-user-compare .user-compare-icon:before {
  display: inline-block;
  content: "";
  height: 7px;
  width: 2px;
  background: rgba(240, 197, 46, 1);
  position: absolute;
  left: -4px;
  top: 3px;
}

.footer-user-compare .user-compare-icon:after {
  display: inline-block;
  content: "";
  height: 8px;
  width: 2px;
  background: rgba(240, 197, 46, 1);
  position: absolute;
  left: 4px;
  top: 2px;
}

/* кнопка закрыть  */

.close {
  position: absolute;
  top: 22px;
  right: 22px;
  width: 55px;
  height: 55px;
  background: rgba(240, 197, 46, 1);
  border-radius: 50%;
  opacity: 0.5;
}

.close::before,
.close::after {
  content: "";
  position: absolute;
  top: 26px;
  right: 14.5px;
  width: 26px;
  height: 2px;
  background: #ffffff;
}

.close::before {
  transform: rotate(45deg);
}

.close::after {
  transform: rotate(-45deg);
}

.close:hover {
  opacity: 1;
}

.close:active {
  opacity: 0.3;
}

/* Кнопка фильтра квадрат с галочкой */



/* Кнопка фильтра квадрат без галочки
div:before {
  display: inline-block;
  content: "";
  height: 19px;
  width: 19px;
  background-color: #ffffff;
  border: 2px solid #000000;
  border-radius: 3px;
  position: relative;
}
*/

/* Кнопка фильтра кружок с точкой
div {
  display: inline-block;
  content: "";
  height: 17px;
  width: 17px;
  background-color: #ffffff;
  border: 4px solid #000000;
  border-radius: 50%;
  position: relative;
}
div:after {
  display: inline-block;
  content: "";
  height: 9px;
  width: 9px;
  background-color: #000000;
  border-radius: 50%;
  position: relative;
  left: 4px;
  top: -1px;
}
*/

/* Кнопка фильтра кружок без точки
.filter-radio {
  display: inline-block;
  content: "";
  height: 17px;
  width: 17px;
  background-color: #ffffff;
  border: 4px solid #000000;
  border-radius: 50%;
  position: relative;
}
 */

/* Кнопка фильтра сдвижная
div {
  display: inline-block;
  content: "";
  height: 20px;
  width: 20px;
  background-color: #ffffff;
  border-radius: 50%;
  position: relative;
  box-shadow: 0 2px 0 0 #dadada;
}
div:after {
  display: inline-block;
  content: "";
  height: 4px;
  width: 4px;
  background-color: #ababab;
  border-radius: 50%;
  position: relative;
  left: 8px;
  top: -1px;
}
*/

/* Кнопка сдвижная
div {
  display: inline-block;
  content: "";
  height: 20px;
  width: 20px;
  background-color: #ffffff;
  border-radius: 50%;
  position: relative;
  box-shadow: 0 2px 0 0 #dadada;
}
div:after {
  display: inline-block;
  content: "";
  height: 4px;
  width: 4px;
  background-color: #ababab;
  border-radius: 50%;
  position: relative;
  left: 8px;
  top: -1px;
}
*/






/* Сетки */

.container {
  width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}

.main-header {
  margin: 0 auto;
  min-height: 186px;
  margin-top: 40px;
  background: rgba(240, 197, 46, 0.5);

}

.main-navigation {
  display: flex;
  flex-direction: column;
  margin: auto 60px;
}


.main-header-image {
  margin-top: -18px;
}

.header-top {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header-top .form-search {
  margin-right: auto;
}

.header-user-navigation li:first-child {
  margin-right: auto;
}

.header-user-log-out {
  margin-left: 22px;
  margin-right: 65px;
}

.header-site-navigation .open-menu {
  margin-right: auto;
}

.header-site-navigation {
  display: flex;
  flex-direction: row;
}

.list-serv {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 500px;
}

.list-serv li:first-child {
  margin-right: auto;
}

.list-serv li:last-child {
  margin-left: 114px;
}

.slider {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-height: 501px;
}

.slide {
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-width: 1022px;
}

.slide-box-one {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.slide-box-two {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.slide-box-three {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.popular-list {
  display: flex;
  justify-content: center;
  margin-top: 180px;
  margin-bottom: 180px;
}

.popular {
  width: 160px;
  margin-right: 20px;
  margin-left: 20px;
}

.popular-list li:first-child {
  margin-left: 0;
}

.popular-list li:last-child {
  margin-right: 0;
}

.service-slider-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: auto;
  margin-top: auto;
}

.service-slider-slide {
  display: flex;
  align-items: center;
}
.service-slide-alltext {
  display: flex;
  flex-direction: column;
}

.service-slide-title {
  margin-bottom: 42px;
}

.service-slide-text {
  width: 456px;
}

.service-slider-navigation {
  display: flex;
  flex-direction: column;
  margin-right: auto;
  align-items: center;
}

.slide-delivery {
  display: none;
}

.slide-warranty {
  display: none;
}

.slide-credit {
  display: none;
}

.service-slide-image {
  margin-left: 79px;
}

.logos {
  display: flex;
  margin-top: 94px;
  margin-bottom: 93px;
}

.logos-list {
  display: flex;
  margin-left: 20px;
  margin-right: 20px;
}

.logos li:first-child .logos-list {
  margin-left: 0px;
}

.logos li:last-child .logos-list {
  margin-right: 0px;
}

.info {
  display: flex;
  margin-top: 93px;
  min-height: 288px;
  margin-bottom: 89px;
}

.info div {
  margin-left: 40px;
  margin-rigth: 40px;
}

.info div:first-child {
  margin-left: 0px;
}

.info div:last-child {
  margin-right: 0px;
}

.about-us::before {
  display: block;
  content: "";
  width: 80px;
  height: 7px;
  background-color: #000000;
}

.contacts::before {
  display: block;
  content: "";
  width: 80px;
  height: 7px;
  background-color: #000000;
}

.main-footer {
  display: flex;
  flex-direction: column;
  min-height: 323px;
  align-content: center;
}

.footer-user-navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
  margin-top: 59px;
}

.footer-user-navigation-list {
  display: flex;
  flex-direction: row;
}

.footer-user-navigation-list li {
  margin-left: 45px;
  /* Добавил временно, глаза мазолила.*/
}

.footer-site-navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
}

.footer-site-navigation-list {
  display: flex;
  flex-direction: row;
}

.footer-site-navigation-list li {
  margin-left: 20px;
  margin-right: 20px;
}

.footer-service-info {
  display: flex;
  flex-direction: row;

}

.footer-social {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
}

.footer-social-list {
  display: flex;
  flex-direction: row;
}

.footer-social-list li {
  margin-left: 10px;
  margin-right: 10px;
}

/* Catalog */

.breadcrumbs {
  display: flex;
  flex-direction: row;
}

/* Хлебные крошки */
.breadcrumbs span {
  display: inline-block;
  content: "";
  position: relative;
  width: 1px;
  height: 6px;
  background-color: #000000;
  border-radius: 5px;
  transform: rotate(-135deg);
  margin-left: 20px;
  margin-right: 20px;
}

.breadcrumbs span:after {
  display: inline-block;
  content: "";
  position: absolute;
  width: 1px;
  height: 6px;
  background-color: #000000;
  border-radius: 5px;
  transform: rotate(90deg);
  top: 2.6px;
  left: 2.6px;
}

fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.catalog-items-filter {
  display: flex;
  height: 100%;
}

.catalog-items {
  display: flex;
  flex-wrap: wrap;
}

.filter {
  display: flex;
  flex-direction: column;
  width: 29%;
  z-index: 1;
  position: relative;
}

.filter::after {
  content: "";
  height: 100%;
  position: absolute;
  width: 1000%;
  background-color: rgba(220, 220, 220, 0.5);
  right: 0;
  top: 0;
  z-index: -1;
}

.catalog-sort {
  background-color: rgba(220, 220, 220, 0.5);
}

.catalog-sort-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70px;
  height: 100%;
}

.filter-title-wrapper {
  width: 29%;
  position: relative;
  z-index: 1;
  padding: 10px 0;
}

.filter-title-wrapper::after {
  content: "";
  height: 100%;
  position: absolute;
  width: 1000%;
  background: rgba(0, 0, 0, 0.08);
  right: 0;
  top: 0;
  z-index: -1;
}

.sort-list-text {
  display: flex;
  justify-content: center;
}

.sort-list-arrow {
  display: flex;
  margin-left: auto;
}

.catalog-container {
  display: flex;
  flex-direction: column;
  background: none;
  width: 71%;
  margin: 0;
}

.catalog {
  background: rgba(255, 255, 255, 1);
}

.catalog-items-wrapper {}

.catalog-items {
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-wrap: wrap;
  margin-top: 68px;
}

.catalog-items .item:nth-child(odd) {
margin-left: 40px;
margin-right: 40px;
}

figure {
  margin: 0;
  padding: 0;
}

.pagination {
  margin-left: 72px;
  max-width: 760px;
}

.pagination-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 70px;
  align-items: center;
  margin-bottom: 77px;
}

.pagination-list li:first-child {
  margin-left: 30px;
}
.pagination-list li:last-child {
  margin-right: 30px;
}

.previous {
  margin-right: auto;
}

.next {
  margin-left: auto;
}

.pagination-number {
  display: flex;
  margin-left: 15px;
  margin-right: 15px;
}

.catalog-page-test {
  display: flex;
  justify-content: space-between;
}
