.container {
  padding: 0;
  width: $mobile-width;
  box-sizing: border-box;
  font-family: "PT Sans", "Arial", "Helvetica", sans-serif;
  font-size: 14px;
  color: $black;
  margin: 0 auto;
  overflow-x: hidden;
  background-color: $white;
  box-shadow: 0 5px 15px 0 rgba(0, 1, 1, 0.2);
}

@media (min-width: $tablet-width) {
  .container {
    width: $tablet-width;
  }
}


@media (min-width: $desktop-width) {
  .container {
    width: $desktop-width;
  }
}
